:root {
    --cerulean-color: #9BB7D4;
    --french-blue: #0072B5;
    --inkwell-color: #363945;
    --ultimate-gray: #939597;
    --mosaic-blue: #00758F;
    --navy-blazer: #282D3C;
}

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100vh;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cerulean-color);
    font-family: "Poppins", sans-serif;
}

/*The beginning of navigation bar styling.*/

#navbar {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    background: var(--french-blue);
    top: 0;
}

.nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
}

li {
    font-size: 2.5rem;
}

#nav-link {
    text-decoration: none;
    color: var(--inkwell-color);
}

#nav-link:hover {
    cursor: pointer;
    color: var(--cerulean-color);
}

/*The beginning of welcome section styling.*/

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: var(--navy-blazer);
}

h1 {
    font-size: 5rem;
    color: var(--french-blue);
}

.intro {
    font-size: 3rem;
    color: var(--french-blue);
    font-style: italic;
}

/*The beginning of about me section styling.*/

#about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 4rem;
    text-decoration: underline;
    color: var(--navy-blazer);
}

.grid-container { 
    display: grid;
    width: 90%;
    grid-template-columns: repeat(6, 1fr);
}

#image {
    height: 600px;
    border-radius: 20%;
    grid-column: 2 / 3;
}

#auto-bio {
    grid-column: 3 / 6;
    font-size: 3rem;
    color: var(--navy-blazer);
    line-height: 1.5;
    text-align: center;
}

/*The beginning of projects section styling.*/

#projects {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--mosaic-blue);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 4rem;
    text-decoration: underline;
    color: var(--inkwell-color);
}

.grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

.project-tile {
    width: 100%;
    height: 450px;
    background-color: var(--inkwell-color);
}

#tile {
    width: 100%;
    height: 100%;
    color: var(--inkwell-color);
    text-decoration: none;
}

#tile:hover {
    cursor: pointer;
    color: var(--french-blue);
}

#penguin {
    width: 100%;
    height: 400px;
}

h4 {
    width: 100%;
    height: 50px;
    background-color: var(--ultimate-gray);
    margin: 0;
    text-align: center;
    font-size: 3rem;
    padding-top: 5px;
}

.message {
    grid-column: 3 / 5;
    font-size: 3rem;
    text-align: center;
    color: var(--inkwell-color);
    font-style: italic;
}

/*The beginning of contact section.*/

#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--ultimate-gray);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h5 {
    font-size: 5rem;
    margin: 40px 0;
    color: var(--french-blue);
}

#outro {
    font-size: 2.5rem;
    color: var(--inkwell-color);
    font-style: italic;
}

.social-icons {
    display: flex;
    width: 60%;
    height: 40%;
    justify-content: space-around;
    align-items: center;
}

.icon {
    font-size: 5rem;
    text-decoration: none;
}

.icon:hover {
    cursor: pointer;
    color: var(--inkwell-color);
}

.gmail {
    color: var(--french-blue);
}

.m {
    font-size: 4rem;
    color: red;
}

.a {
    font-size: 4rem;
    color: orange;
}

.i {
    font-size: 4rem;
    color: var(--french-blue);
}

.l {
    font-size: 4rem;
    color: green;
}

.discord {
    color: #191970;
}

.text2 {
    font-size: 4rem;
    color: var(--french-blue);
}

.github {
    color: black;
}

.text3 {
    font-size: 4rem;
    color: var(--navy-blazer);
}

/*Mobile styling.*/

@media only screen and (max-width: 520px) {
    /*Start of navbar.*/
    #navbar {
        justify-content: center;
    }
    .nav-list {
        width: 100%;
    }
    /*Start of welcome section.*/
    #welcome-section {
        width: 100%;
        height: 100vh;
    }
    /*Start of about me section.*/
    #about-me {
        width: 100%;
        height: 100%;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    #image {
        grid-column: 1 / -1;
        padding: 0 80px;
        width: 480px;
    }
    #auto-bio {
        grid-column: 1 / -1;
    }
    /*Start of projects section.*/
    h3 {
        margin: 10px 0;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100%;
    }
    .project-tile {
        grid-column: 1 / -1;
        height: 100%;
    }
    #penguin {
        height: 402px;
    }
    .message {
        grid-column: 1 / -1;
        margin: 0;
    }
    /*Start of contact section.*/
    .social-icons {
        flex-direction: column;
        justify-content: space-between;
        height: 50%;
    }
}