:root {
    --cerulean-color: #9BB7D4;
    --french-blue: #0072B5;
    --inkwell-color: #363945;
    --ultimate-gray: #939597;
    --mosaic-blue: #00758F;
    --navy-blazer: #282D3C;
}

*, *::before, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    height: 100vh;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--cerulean-color);
    font-family: "Poppins", sans-serif;
}

/*The beginning of navigation bar styling.*/

#navbar {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    background: var(--french-blue);
    top: 0;
}

.nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-around;
}

li {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--inkwell-color);
}

a:hover {
    cursor: pointer;
    color: var(--cerulean-color);
}

/*The beginning of welcome section styling.*/

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: var(--navy-blazer);
}

h1 {
    font-size: 5rem;
    color: var(--french-blue);
}

.intro {
    font-size: 3rem;
    color: var(--french-blue);
    font-style: italic;
}

/*The beginning of about me section styling.*/

#about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 4rem;
    text-decoration: underline;
    color: var(--navy-blazer);
}

.grid-container { 
    display: grid;
    width: 90%;
    grid-template-columns: repeat(6, 1fr);
}

#image {
    height: 600px;
    border-radius: 20%;
    grid-column: 2 / 3;
}

#auto-bio {
    grid-column: 3 / 6;
    font-size: 3rem;
    color: var(--navy-blazer);
    line-height: 1.5;
    text-align: center;
}

/*Mobile styling for navigation bar.*/

@media only screen and (max-width: 480px) {
    #navbar {
        justify-content: center;
    }
    .nav-list {
        width: 100%;
    }
    #welcome-section {
        width: 100%;
        height: 100vh;
    }
    #about-me {
        width: 100%;
        height: 100%;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    #image {
        grid-column: 1 / -1;
        padding: 0 80px;
        width: 480px;
    }
    #auto-bio {
        grid-column: 1 / -1;
    }
}